### 1. Ler e exibir um arquivo CSV usando pandas

In [0]:
df = spark.read.csv("/FileStore/tables/retail.csv", header=True, sep=';',inferSchema=True)
df = df.toPandas()
df.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2010 08:26,"2,55",17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/2010 08:26,"3,39",17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2010 08:26,"2,75",17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2010 08:26,"3,39",17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2010 08:26,"3,39",17850,United Kingdom
...,...,...,...,...,...,...,...,...
95,536378,22352,LUNCH BOX WITH CUTLERY RETROSPOT,6,01/12/2010 09:37,"2,55",14688,United Kingdom
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,01/12/2010 09:37,"0,42",14688,United Kingdom
97,536378,21975,PACK OF 60 DINOSAUR CAKE CASES,24,01/12/2010 09:37,"0,55",14688,United Kingdom
98,536378,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,01/12/2010 09:37,"0,55",14688,United Kingdom
99,536378,84991,60 TEATIME FAIRY CAKE CASES,24,01/12/2010 09:37,"0,55",14688,United Kingdom

### 2. Selecionar colunas específicas de um DataFrame usando pandas

In [0]:
df = spark.read.csv("/FileStore/tables/retail.csv", header=True, sep=';',inferSchema=True)
df = df.toPandas()

df = df.filter(['description', 'unit_price'])
df.head()

,description,unit_price
0,WHITE HANGING HEART T-LIGHT HOLDER,"2,55"
1,WHITE METAL LANTERN,"3,39"
2,CREAM CUPID HEARTS COAT HANGER,"2,75"
3,KNITTED UNION FLAG HOT WATER BOTTLE,"3,39"
4,RED WOOLLY HOTTIE WHITE HEART.,"3,39"

### 3. Filtrar linhas com base em uma condição usando pandas

In [0]:
df = spark.read.csv("/FileStore/tables/retail.csv", header=True, sep=';',inferSchema=True)
df = df.toPandas()
df = df[df['quantity'] >5]
    
df.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2010 08:26,"2,55",17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/2010 08:26,"3,39",17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2010 08:26,"2,75",17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2010 08:26,"3,39",17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2010 08:26,"3,39",17850.0,United Kingdom

### 4. Agrupar dados com base em uma coluna usando pandas

In [0]:
df = spark.read.csv("/FileStore/tables/retail.csv", header=True, sep=';',inferSchema=True)
df = df.toPandas()

df = df.groupby('stock_code')['quantity'].mean()

df.head()

Out[7]: stock_code
10002     14.205479
10080     20.625000
10120      6.433333
10123C    -3.250000
10123G   -38.000000
Name: quantity, dtype: float64

### 5. Usar a função max em alguma coluna do DataFrame

In [0]:

df = spark.read.csv("/FileStore/tables/retail.csv", header=True, sep=';',inferSchema=True)
df = df.toPandas()
df['invoice_date'].max()

Out[11]: '31/10/2011 17:19'